---
---

@import "minima";

.tagbox_1 {
    border: 1px solid #b9b9b9;
    position: relative;
    display: inline;
    background-color:#f5f5f5;
    border-radius:25px;
    padding-right: .25em;
    padding-left: .10em;
    z-index: -1;
}

.site-header {
    border-top: 5px solid #424242; border-bottom: 1px solid #e8e8e8; min-height: 55.95px;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    background: #faf0d7;
    z-index: 99999;
}

.page-heading {
    margin-top: 1em;
}

.post-header {
    margin-top: 3em;
}

.inline-math{
    display: inline;
}
