<!DOCTYPE html>


<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png?v=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png?v=1.0">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png?v=1.0">
  <link rel="manifest" href="/favicon_io/site.webmanifest?v=1.0">

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script type="text/javascript" id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <!-- {%- include footer.html -%} -->

  </body>

</html>
